@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
:root {
    --background: #24262e;
    --blue: #75DEE2;
    --green: #95E335;
    --brown: #E08245;
    --yellow: #FFFF93;
    --hover-color: #FFFF93;
    --marker-color: #30818f;
}
* {
    box-sizing: border-box;
    text-decoration: none;
}
html,
body,
#content,
#room {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, #62B6BB, #79E0E7);
    font-family: 'Baloo 2', cursive;
    color: #584737;
}
#sound-menu {
    width: 5%;
    height: 20px;
    position: fixed;
    top: 6%;
    left: 5.5%;
    display: flex;
    justify-content: space-between;
}
.sound-icon {
    width: 45%;
    height: 100%;
    cursor: pointer;
}
.fixed-song-icon {
    background: url("../images/song-on_bg_active.svg") no-repeat;
    background-size: contain;
}
.song-off {
    background: url("../images/song-on_bg_inactive.svg") no-repeat;
    background-size: contain;
}
.fixed-fx-icon {
    background: url("../images/fx-on_bg_active.svg") no-repeat;
    background-size: contain;
}
.fx-off {
    background: url("../images/fx-on_bg_inactive.svg") no-repeat;
    background-size: contain;
}
.marker-fill {
    fill: var(--marker-color);
}
.back-button {
    position: fixed;
    top: 8%;
    right: 7%;
    cursor: pointer;
    width: 15%;
    height: 20%;
    z-index: 2;
}
.hover {
    cursor:pointer;
}
input {
    border: unset;
    outline: unset;
}
input:focus {
    border: unset;
}